.login{
    cursor: pointer;
}

.link{
    cursor: pointer;
}

.buttn {
    width: 50px;
    height: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    hover: black;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--textColor);

}

.responsiveMenu{
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--bg);
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
    font-size: 15px;
    color: grey;
    margin: 0 auto;
}

.item {
    margin-left: 50px;
    cursor: pointer;
}

.item:hover {
    color: var(--newTextColor);
    text-decoration: underline;
}


@media screen and (max-width:640px) {
    .buttn {
        display: flex;
    }

    .link{
        display: none;
    }

}

